In [1]:
#Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

In [2]:
#Write an introductory sentence about the notebook such as the follows:
#In this notebook, Data Science Tools and Ecosystem are summarized.

### In this notebook, Data Science Tools and Ecosystem are summarized.

In [3]:
#Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

In [4]:
#Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlin
4. Seaborn
5. Scikit learn

In [5]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|Python|
|R|
|
|TensorFlow|

In [6]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

+,-,*

In [7]:
#Exercise 8 - Create a code cell to multiply and add numbers

In [8]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [9]:
#Exercise 9 - Create a code cell to convert minutes to hours

In [10]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

In [11]:
#Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

+ list of data science languages
+ list data science libraries
+ mutiply then add integers
+ convert minutes to hours

In [12]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Venkata Rama Rao.K